.orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__container {
    width: 100%;
    max-width: 920px;
  }

  &__header {
    padding: 1em 0;
  }

  &__footer {
    padding: 20px 0;
    font-size: 0.8em;
    color: #111;
    text-align: center;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__item__info {
    background: white;
    padding: 1em;
    border-bottom: 1px solid #ddd;

    &__date {
      font-size: 1.2rem;
      font-weight: bold;
    }
    &__total {
      font-size: 1rem;
      font-weight: bold;
    }
  }
}
