$header-bg-main-color: #131a21;
$header-font-main-color: #131a21;
$header-font-gray-color: #ccc;

$footer-bg-main-color: #121b22;
$footer-font-main-color: #ddd;
$footer-font-gray-color: #999;

$header-nav-bg-color: #232f3e;

$cart-count-color: #f08804;
