.logo {
  display: flex;
  align-items: center;
  margin: 0 10px;
  // transition: 1s;

  &__image {
    object-fit: contain;
    width: 120px;
    transition: 1s;
    // width: 150px;
    // height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    &__image {
      width: 100px;
    }
  }
}
