.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 10px 20px;
  background-color: white;

  &__contents {
    display: flex;
    max-width: 1300px;
    width: 100%;
    // justify-content: center;
    margin-top: 20px;
  }
  &__header {
    max-width: 1300px;
    display: flex;
    justify-content: center;
  }

  &__left {
    flex: 1;
  }

  &__right {
    width: 300px;
  }

  &__ad {
    width: 100%;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }

  &__title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
  }

  &__empty {
    font-size: 3rem;
    color: red;
    font-weight: bold;
  }
}
@media screen and (max-width: 400px) {
  .checkout {
    &__right {
      width: 200px;
    }
  }
}
