@import "../../styles/index";
.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;

  &__ad {
    width: 100%;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }

  &__title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
  }
}
