.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 3px;

  &__gift {
    display: flex;
    align-items: center;
    > input {
      margin-right: 5px;
    }
  }

  > button {
    padding: 1em;
  }
}

@media screen and (max-width: 400px) {
  .subtotal {
    padding: 10px;
  }
}
