@import "../../styles/index";
.home {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1500px;
  padding-bottom: 20px;

  &__image {
    width: 100%;
    margin-bottom: -23%;
    z-index: -1;
  }

  &__row {
    display: flex;
    z-index: 1;
    margin-top: 10px;
  }
}
