.header {
  display: flex;
  height: 60px;
  align-self: center;
  background-color: $header-bg-main-color;
  color: $header-font-main-color;

  &__menu {
    display: flex;
    align-items: center;

    > button {
      color: white;
      padding: 0 3px;
      background: transparent;
      border: 0;
      > svg {
        font-size: 2rem;
      }
    }
  }
}
