.sidemenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: rgba(0, 0, 0, 0.3);
  z-index: 10000;
  display: none;

  &.active {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
  }

  &__container {
    position: relative;
    background: white;
    width: 30%;
    height: 100%;
    left: -100%;
    animation-name: container_keyframe;
    animation-duration: 0.5s;
    animation-fill-mode: both;

    > button {
      position: absolute;
      top: 30px;
      right: -30px;
      background-color: transparent;
      border: none;
      outline-style: none;
      color: white;
      font-size: 30px;
      cursor: pointer;
    }
  }

  &__login {
    > h1 {
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }
  }
  &__common-list {
    a {
      display: block;
      padding: 10px;
      color: black;
      font-size: 1rem;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

@keyframes container_keyframe {
  0% {
    left: -100%;
  }
  20% {
    left: -30%;
  }
  100% {
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  .sidemenu__container {
    width: 70%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .sidemenu__container {
    width: 50%;
  }
}
