.footer {
  &__buttom {
    padding: 20px 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $footer-bg-main-color;
    color: $footer-font-main-color;
  }

  a {
    color: $footer-font-main-color;
    text-decoration: none;
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
    &__item {
      margin: 0 4px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    .MuiSvgIcon-root {
      font-size: 2em;
    }
  }
  &__social-copyright {
    font-size: 0.8em;
  }

  &__back-to-top {
    display: flex;
    justify-content: center;
    background-color: #37475a;

    > button {
      cursor: pointer;
      width: 100%;
      height: 100%;
      @include resetButton();
      color: #fff;
      padding: 15px;
      font-size: 0.8em;
      font-weight: bold;
    }
  }
}
