.productbasketcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  padding: 20px 0;
  flex: 1;

  &__image {
    img {
      object-fit: contain;
      width: 180px;
      height: 180px;
    }
  }

  &__info {
    display: flex;
    flex-flow: column;
    margin-left: 20px;
    width: 100%;
  }

  &__rating {
    display: flex;
  }

  &__title {
    max-height: 75px;
    overflow: hidden;
  }

  &__footer {
  }
}
